 <div class="navbar navbar-inverse navbar-fixed-top main-menu">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Feed Bulls</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#/">Feedback</a></li>
              <li><a href="#/submiter">Submiter</a></li>
              <li><a href="#/detail">Detailed</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>